html, body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Rocher';
    src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
}

@font-palette-values --Mint {
    font-family: Rocher;
    base-palette: 7;
}

@font-palette-values --Grays {
    font-family: Rocher;
    base-palette: 9;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: rgba(173, 255, 47, 0.6);
    min-height: 10%;
    display: grid;
    grid-template-columns: 30% 25% 15% 30%;
    width: auto;
}

.header div {
    text-align: center;
    display: flex;
    align-items: flex-end;
    margin-bottom: 30px;
    margin-left: 30px;
}

.header .mint {
    height: 10%;
    font-family: 'Rocher', sans-serif;
    font-palette: --Mint;

}


.header h1 a {
    text-decoration: none;
}

.header img {
    height: 64px;
    width: 64px;
}

main {
    background-image: url('/img/court.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: calc(100% - 25%);
    margin-bottom: -1px;
}

footer {
    background-color: #1e1e1e;
    display: grid;
    grid-template-columns: 50% 50%;
    min-height: 15%;
}

footer div {
    margin: auto;
    width: 50%;
    padding: 10px;
}

footer .first_block p {
    font-family: 'Serif', sans-serif;
    font-size: 25px;
    color: gray;
    margin-left: 10%;
}

footer .sec_block {
    margin-left: 20%;
}

footer .sec_block a {
    text-decoration: none;
    font-family: 'Serif', sans-serif;
    font-size: 25px;
    color: gray;
    margin-left: 15%;
    transition: color 0.3s;
}

footer .sec_block a:hover {
    color: white;
}