html, body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Rocher';
    src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
}

@font-palette-values --Mint {
    font-family: Rocher;
    base-palette: 7;
}

@font-palette-values --Grays {
    font-family: Rocher;
    base-palette: 9;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body, .header, main, footer {
    /*border: 2px solid black;*/
}


.header {
    background-color: rgba(173, 255, 47, 0.6);
    min-height: 10%;
    flex-shrink: 0;
    display: grid;
    grid-template-columns: 30% 23% 23% 23%;
    align-items: center;
    justify-content: center;
    width: auto;
}

.header div {
    text-align: center;
    height: 70%;
}

.header .mint {
    height: 10%;
    font-family: 'Rocher', sans-serif;
    font-palette: --Mint;
}


.header h1 a {
    text-decoration: none;
}

.header .ordinal a {
    color: green;
}

.header .ordinary {
    font-family: 'Rocher', sans-serif;
    font-palette: --Mint;
    margin-top: 54px;
    text-align: center;
}

.header h1 img {
    height: 64px;
    width: 64px;
}


main {
    flex-grow: 1;
    background-image: url('/img/court.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-bottom: -1px;
    min-height: 70%;
}



footer {
    height: auto;
    background-color: #1e1e1e;
    flex-shrink: 0;
    display: grid;
    grid-template-columns: 50% 50%;
    min-height: 10%;
}

footer div {
    margin: auto;
    width: 50%;
    padding: 10px;
}

footer .first_block p {
    font-family: 'Serif', sans-serif;
    font-size: 25px;
    color: gray;
    margin-left: 10%;
}

footer .sec_block {
    margin-left: 20%;
}

footer .sec_block a {
    text-decoration: none;
    font-family: 'Serif', sans-serif;
    font-size: 25px;
    color: gray;
    margin-left: 15%;
    transition: color 0.3s;
}

footer .sec_block a:hover {
    color: white;
}