html, body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.wrapper {
    background-color: darkblue;
    display: flex;
    width: auto;
    color: white;
}

.player {
    display: flex;
    justify-content: center;
    min-width: 30%;
}

.player div {
    margin: 5px 35px;
}

.player h1 {
    text-align: center;
}

.sign {
    margin: auto;
}

.buttons {
    width: 100%;
    display: flex;
    align-items: flex-end;
}

.buttons .button_wrapper {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons button {
    font-size: 30px;
    background-color: blue;
    color: white;
    border-radius: 10px;
    padding: 10px;
}