html, body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wrapper {
    background-color: darkblue;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
}

.player {
    display: flex;
    justify-content: space-around;
    min-width: 30%;
}

.player div {
    margin: 10px;
}

.player h1 {
    text-align: center;
}

.sign {
    margin: auto;
}

.buttons {
    width: 100%;
    display: flex;
}

.buttons .button_wrapper {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.buttons button {
    font-size: 30px;
    background-color: blue;
    color: white;
    border-radius: 10px;
    padding: 10px;
}