main {
    background-image: url('/img/court.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-bottom: -1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    min-width: 70%;
    min-height: 90%;
    background-color: #3b3b3b;
    border-radius: 25px;
}

.sign {
    margin-top: 5px;
    text-align: center;
    color: lightblue;
    font-size: 40px;
}

.head {
    width: 100%;
    margin-left: 30px;
}

.head label {
    font-size: 30px;
    color: white;
}

.head input {
    font-size: 20px;
    background-color: #646464;
    color: white;
}

.head form .button {
    font-size: 25px;
    background-color: blue;
    color: white;
    border-radius: 10px;
    min-height: 30px;
    width: 140px;
    padding: 2px 10px;
    border: 2px solid lightblue;
    transition: color 0.3s;
}

.head form .button:hover {
    color: #a8a1a1;
}
.table {
    padding: 0 20px;
}

.table.head-main {
    margin: 0;
    padding: 0;
    min-height: 60%;
}

.table.head {
    display: grid;
    grid-template-columns: 10% 30% 30% 30%;
    width: auto;
    margin: 0;
}

.table.head div {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    margin: 1px;
    border: 3px solid #d0d0d0;
    color: lightblue;
    font-size: 30px;
}

.table .main {
    display: grid;
    grid-template-columns: 10% 30% 30% 30%;
    width: auto;
    margin: 0;
}

.table.main div {
    margin: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    border: 3px solid #d0d0d0;
    color: lightblue;
    font-size: 30px;
}

.table.footer {
    width: auto;
    margin-bottom: 0;
}

.table.footer form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.table.footer button {
    font-size: 25px;
    background-color: blue;
    color: white;
    border-radius: 10px;
    border: 2px solid lightblue;
    min-width: 15%;
    min-height: 10%;
    padding: 2px 10px;
    transition: color 0.3s;
    margin-left: 10px;
    margin-right: 10px;
}



.table.footer button:hover {
    color: #a8a1a1;
}