html, body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

form {
    margin: 0;
    width: auto;

}

.wrapper {
    background-color: darkgreen;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin-top: 0;
}

.player {
    margin: 5px auto auto auto;
}

.wrapper div {
    line-height: 40px;
}

label {
    font-size: 25px;
    color: white;
}

div p {
    font-size: 25px;
    margin: 0;
    color: white;
}

.wrapper .sign {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

button {
    margin-top: 0;
    background-color: blue;
    color: white;
    font-size: 25px;
    border-radius: 10px;
}