html, body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

form {
    margin: 0;
    width: auto;
}

.wrapper {
    background-color: darkgreen;
    width: auto;
    min-height: auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin-top: 0;
}

.wrapper div {
    line-height: 35px;
}


div {
    margin: 5px auto auto auto;
}

label {
    font-size: 24px;
    color: white;
}

div p {
    font-size: 24px;
    margin: 0;
    color: white;
}
.sign {
    display: flex;
    grid-template-columns: 50% 50%;
}
.sign div{
    margin-right: 80px;
}


form button {
    margin-top: 0;
    background-color: blue;
    color: white;
    font-size: 20px;
    border-radius: 10px;
}