<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <display-name>Tennis Scoreboard</display-name>

    <!--Main Page-->
    <servlet>
        <servlet-name>MainPage</servlet-name>
        <jsp-file>/pages/mainPage.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainPage</servlet-name>
        <url-pattern>/main-page</url-pattern>
    </servlet-mapping>

    <!--New Match-->
    <servlet>
        <servlet-name>NewMatch</servlet-name>
        <jsp-file>/pages/newMatch.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewMatch</servlet-name>
        <url-pattern>/new-match.jsp</url-pattern>
    </servlet-mapping>

    <!--Match-->
    <servlet>
        <servlet-name>Match</servlet-name>
        <jsp-file>/pages/match.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Match</servlet-name>
        <url-pattern>/match.jsp</url-pattern>
    </servlet-mapping>

    <!--Match Finished-->
    <servlet>
        <servlet-name>MatchFinished</servlet-name>
        <jsp-file>/pages/matchFinished.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>MatchFinished</servlet-name>
        <url-pattern>/match-finished.jsp</url-pattern>
    </servlet-mapping>

    <!--Matches-->
    <servlet>
        <servlet-name>Matches</servlet-name>
        <jsp-file>/pages/matches.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Matches</servlet-name>
        <url-pattern>/matches.jsp</url-pattern>
    </servlet-mapping>
</web-app>